# Gemini API
GEMINI_API_KEY=

# PayPal Configuration
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_PARTNER_ID=

# Internet Archive Storage Configuration
IA_ACCESS_KEY=
IA_SECRET_KEY=
